{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/home/js/home.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="home">
        {#   顶部轮播       #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                <!--处理轮播banner图-->
                {% for mainwheel in mainwheels %}
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ mainwheel.img }}" alt="">
                        </a>
                    </div>
                {% endfor %}
                <!-- 处理结束 -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

        </div>
        {#         导航         #}
        <div class="topMenu">
            <nav>
                <ul>
                    {% for mainnav in mainnavs %}
                    <!-- 处理导航数据 -->
                        <li>
                            <img src="{{ mainnav.img }}" alt="">
                            <span>{{ mainnav.name }}</span>
                        </li>
                    <!--处理结束-->
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {#         必购     #}
        <div id="swiperMenu" class="swiper-container">

            <ul class="swiper-wrapper">
                {% for mustbuy in mustbuys %}
                <!-- 处理必购商品信息 -->
                    <li class="swiper-slide">
                        <img src="{{ mustbuy.img }}" alt="">
                    </li>
                <!-- 处理结束 -->
                {% endfor %}
            </ul>

        </div>
        {#          商店    #}
        <div class="CVS">
            {% for mainshop in mainshops %}
                {% ifequal forloop.counter 1 %}
                    <!--处理第一个店铺的数据的图片-->
                    <h2>
                        <img src="{{ mainshop.img }}" alt="">
                    </h2>
                    <!--处理结束-->
                {% endifequal %}
            {% endfor %}
            {% for mainshop in mainshops %}
                {% if forloop.counter > 1 and forloop.counter < 4 %}
                    {% ifequal forloop.counter 2 %}
                        <fieldset>
                    {% endifequal %}
                        <a href="#">
                            <img src="{{ mainshop.img }}" alt="">
                        </a>
                    {% ifequal forloop.counter 3 %}
                        </fieldset>
                    {% endifequal %}

                {% endif %}
            {% endfor %}
            {% for mainshop in mainshops %}
                <!--处理结束-->
                    {% ifequal forloop.counter 4 %}
                    <ul>
                    {% endifequal %}
                    {% if forloop.counter > 3 and forloop.counter < 8  %}
                        <li>
                            <a href="#">
                                <img src="{{ mainshop.img }}" alt="">
                                <span></span>
                            </a>
                        </li>
                    {% endif %}
                    {% ifequal forloop.counter 7 %}
                        </ul>
                    {% endifequal %}
            {% endfor %}
            {% for mainshop in mainshops %}
                    {% ifequal forloop.counter 8 %}
                        <ol>
                    {% endifequal %}
                    <!--处理第八个到第十二个数据-->
                    {% if forloop.counter > 7 and forloop.counter < 12 %}
                        <li>
                            <a href="#">
                                <img src="{{ mainshop.img }}" alt="">
                            </a>
                        </li>
                    <!--处理结束-->
                    {% endif %}
                    {% ifequal forloop.counter 11 %}
                        </ol>
                    {% endifequal %}
            {% endfor %}
        </div>

        {#         主要显示 #}

        <div class="mainInfo">
            <!--商品展示-->
                <section>
                    <h3><span></span><a href="#">更多&gt;</a></h3>

                    <div>
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </div>

                    <ul>

                        <li>
                            <a href="#">
                                <img src="" alt="">
                                <p class="description">

                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="" alt="">
                                <p class="description">

                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="" alt="">
                                <p class="description">

                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>


                    </ul>

                </section>
            <!--商品展示结束-->


        </div>
    </div>

{% endblock %}
