<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/stuapp/addstu/" method="post">
    <table>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>生日</td>
            <td>电话</td>
        </tr>
        <tr>
            <td><input type="text" name="name"></td>
            <td><input type="text" name="sex"></td>
            <td><input type="date" name="birth"></td>
            <td><input type="text" name="tel"></td>
        </tr>
    </table>
    <input type="submit" value="提交">
    </form>
</body>
</html>