
{% extends 'base.html' %}

{% block title %}
    分页页面--学生
{% endblock %}

{% block content %}
    <ul>
        {% for stu in stus %}
            <li>
                id: {{ stu.s_id }}
                姓名： {{ stu.s_name }}
                年龄：{{ stu.s_age }}
            </li>
        {% endfor %}
        总页数：{{ paginate.pages }}
        当前第{{ paginate.page }}页
        {% if paginate.has_prev %}
            <a href="/user/paginate/?page={{ paginate.prev_num }}">上一页</a>
        {% endif %}
        <br>
        {% for i in paginate.iter_pages() %}
            <a href="/user/paginate/?page={{ i }}">{{ i }}</a>
        {% endfor %}
        <br>
        {% if paginate.has_next %}
            <a href="/user/paginate/?page={{ paginate.next_num }}">下一页</a>
        {% endif %}
    </ul>
{% endblock %}
