<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有学生信息页面</title>
</head>
<body>

{% for stu in stus %}
    姓名：{{ stu.s_name }}
    电话：{{ stu.s_tel }}
    地址：{{ stu.studentinfo.i_addr }}
    <br>
{% endfor %}

<h4>一共{{ stus.paginator.num_pages }}页/ 一共{{ stus.paginator.count }}条数据</h4>
<h5>
    {% for i in stus.paginator.page_range %}
        <a href="/stu/stuPage/?page_id={{ i }}">{{ i }}</a>
    {% endfor %}
</h5>

{% if stus.has_previous %}
    <a href="/stu/stuPage/?page_id={{ stus.previous_page_number }}">上一页</a>
{% endif %}
当前第{{ stus.number }}页
{% if stus.has_next %}
    <a href="/stu/stuPage/?page_id={{ stus.next_page_number }}">下一页</a>
{% endif %}


<h4>------------------我是分割线-------------</h4>
<a href="{% url 's:add' %}">添加学生</a>

</body>
</html>