<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生信息页面</title>
</head>
<body>
<form action="" method="POST">
    <table>
        <tr>
            <th>姓名</th>
            <th>电话</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="name">
            </td>
            <td>
                <input type="text" name="tel">
            </td>
        </tr>
        <tr>
            <td> <input type="submit" value="提交"> </td>
        </tr>
    </table>

</form>
</body>
</html>